# It's not quite elegant but, let's go with it
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
ylwrap


justine/rcwin/target

Makefile
Makefile.in

carlexer.cc

justine/rcemu/src/.deps/*

*.pb.cc
*.pb.h
*.out
*.o
*.po
*.class
*.pdf
*.out
*.txt
*~
*.lmap
*.osm
